.nav {
  padding: 20px;
  background-color: lightgray;
  margin-bottom: 40px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.nav-home {
  display: flex;
  flex-direction: row;
}

.nav-title {
  // get rid of margin underneath title?
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons > *,
.home-button {
  margin-left: 10px;
  background-color: #f4845f;
}

button:hover {
  cursor: pointer;
}

@media (min-width: 200px) and (max-width: 390px) {
  .buttons {
    flex-direction: column;
  }
  button {
    margin-bottom: 10px;
  }
}
