.container {
  padding-bottom: 10px;
}

mat-card {
  margin: 20px 40px;
  padding: 20px;
  background: lightgray;
  display: flex;
  flex-direction: column;
}

mat-card:last-child {
  margin-bottom: 20px;
}

mat-card-header,
mat-card-subtitle,
mat-card-actions {
  display: flex;
  justify-content: center;
}

mat-icon:hover {
  cursor: pointer;
  color: #f25c54;
}

.movie-img {
  width: 50%;
  border: 1px solid rgba(0, 0, 0, 0.571);
  box-shadow: 2px 4px 5px black;
  margin: 0 auto;
  margin-bottom: 10px;
}

button:hover {
  background: #f4845f;
}
