<app-navbar></app-navbar>
<div class="profile_page">
    <!-- welcome card -->
    <mat-card>
        <mat-card-header>
            <!-- if I update user, the username I input is taken here, but I need this title to take data from the existing user -->
            <mat-card-title>Welcome ______{{userData.Username}}</mat-card-title>
        </mat-card-header>
    </mat-card>

    <!-- update profile card -->
    <mat-card class="container">
        <mat-card-header class="update-header">
            <mat-card-title class="title">Update Profile</mat-card-title>
        </mat-card-header>
        <mat-card-content class="card_content">
            <form>
                <mat-form-field>
                    <mat-hint>Must be at least 6 characters</mat-hint>
                    <input matInput [(ngModel)]="userData.Username" placeholder="Username" type="text" name="Username"
                        title="Password" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-hint>Must be at least 6 characters</mat-hint>
                    <input matInput [(ngModel)]="userData.Password" placeholder="Password" type="password"
                        name="Password" title="Password" required>
                </mat-form-field>
                <mat-form-field>
                    <input matInput [(ngModel)]="userData.Email" placeholder="Email" type="email" name="Email">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [(ngModel)]="userData.Birthday" placeholder="Birthday" type="date" name="Birthday">
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions class="update-buttons">
            <button mat-raised-button (click)="updateUser()" class="update_button" color="primary">
                Submit
            </button>
            <button mat-raised-button (click)="deleteUser()" color="warn">Delete Profile</button>
        </mat-card-actions>
    </mat-card>

    <!-- favorite movies list card -->
    <mat-card>
        <mat-card-header>
            <mat-card-title class="fav-title">
                Your Favorite Movies
            </mat-card-title>
            <!-- favorite movies content option 1: no favs -->
            <mat-card-subtitle *ngIf="this.favoriteMovies.length === 0">You haven't chosen any favorite movies yet!</mat-card-subtitle>
        </mat-card-header>

        <!-- favorites movies content option 2: fav list -->
        <div class="movie_container">
            <mat-card *ngFor="let movie of favoriteMovies; let i = index" class="card">
                <mat-card-header class="favMovie-header">
                    <mat-card-title class="card_title">{{ movie.Title }}</mat-card-title>
                    <mat-icon class="deleteFav-movie" (click)="deleteFavoriteMovie(movie._id, movie.Title)">delete</mat-icon>
                    <mat-card-subtitle class="card_subtitle"><span>{{movie.Year}}</span>
                    </mat-card-subtitle>
                </mat-card-header>
                <img style="width: 250px; height: 350px;" src="{{ movie.ImageURL }}" alt="{{ movie.Title }}"
                    class="card_image" />
            </mat-card>
        </div>
    </mat-card>
</div>